@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.textinput {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--c_black);
  border: 1px solid var(--c_orange);
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 0 0.1rem 0.7rem var(--c_orange);
}

.input {
  flex: 1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: 'Quicksand Regular', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis;
}

.input:focus{
  outline: none !important;
  box-shadow: 0 0 1rem var(--c_orange);
}

.input::placeholder {
  color: var(--c_placeholder);
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
  .input {
    width: calc(100% - 65px);
  }
}
