:root {
   --c_orange: #f99e1a;
   --c_dark_grey: #43484c;
   --c_blue: #405275;
   --c_light_blue: #218ffe;
   --c_red: #ff4444;
   --c_black: #000000;
   --c_white: #ffffff;
   --c_transparent: #ffffff00;
   --c_placeholder: #979797;
   --c_dark_blue: #0056b3;
   --c_topbar: #5e5e5f;
 }