.c_orange {
    color: #f99e1a;
 }
  
.c_dark_grey {
    color: #43484c;
 }

.c_blue {
    color: #405275;
 }

 .c_light_blue {
    color: #218ffe;
 }
  
.c_red {
    color: #ff4444;
 }

.c_black {
    color: #000000;
 }

.c_white {
   color: #ffffff;
}