@import "../../styles/colors.css";
@import "../../styles/fonts.css";

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--c_black);
  border: 1px solid var(--c_orange);
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 0 0.1rem 0.7rem var(--c_orange);
}

.input-icon input {
  flex: 1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: 'Quicksand Regular', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que desborda */
  text-overflow: ellipsis; /* Añade puntos suspensivos para indicar texto truncado */
}

.input-icon input:focus {
  outline: none !important;
}

.input-icon input::placeholder {
  color: var(--c_placeholder);
}

.input-icon:focus-within {
  box-shadow: 0 0 1rem var(--c_orange);
}

.icon {
  cursor: pointer;
  padding-right: 1rem;
  font-size: 2rem;
}

.icon:hover {
  color: var(--c_dark_grey);
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
  .search-bar input {
    width: calc(100% - 65px);
  }
}
